{{ define "features" }}

<div class="mx-auto max-w-lg px-4 py-20 lg:max-w-screen-lg">
  <div class="mb-10">
    <div class="mb-8 text-3xl font-medium leading-normal sm:text-4xl sm:leading-relaxed">Introducing <span class="rounded-xl bg-blue-600 px-3 py-0.5 text-white">Tailwind 3.0</span></div>
    <div class="max-w-xl text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam sapiente inventore quas nemo magnam perferendis!</div>
  </div>
  <div class="flex flex-col lg:flex-row">
    <div class="mr-4">
      <div class="mt-8 text-xl font-medium md:mt-0 md:mb-8 md:text-2xl">Make the most of your dev experience</div>
      <div class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum voluptate enim natus.</div>
    </div>
    <div class="mr-4">
      <div class="mt-8 text-xl font-medium md:mt-0 md:mb-8 md:text-2xl">Save time and hence money</div>
      <div class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum voluptate enim natus.</div>
    </div>
    <div class="mr-4">
      <div class="mt-8 text-xl font-medium md:mt-0 md:mb-8 md:text-2xl">Make the most of your dev experience</div>
      <div class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum voluptate enim natus.</div>
    </div>
    <div class="mr-4">
      <div class="mt-8 text-xl font-medium md:mt-0 md:mb-8 md:text-2xl">Never deal with CSS fatigue again</div>
      <div class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum voluptate enim natus.</div>
    </div>
  </div>
</div>


{{end}}