{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
{{template "navbar" .}}
{{template "hero" .}}
{{template "features" .}}
{{template "pricing" .}}
{{template "faq" .}}
{{template "footer" .}}
{{end}}